{
  "extends": ["bloq", "bloq/experimental"],
  "rules": {
    "no-console": "off",
    "no-shadow": "off",
    "complexity": "off",
    "max-len": ["error", { "code": 100 }],
    "consistent-return": "off"
  },
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}

